
/*.marketSpan img{*/
    /*vertical-align: middle;*/
    /*padding: 8px 5px 11px 7px;*/
/*}*/

.headerBtn{
    font-size: 16px;
    border: 0;
    border-radius: 0;
    background: #fff;
    color: rgba(0,0,0,.65);
    padding: 0 20px;
    height: 40px;
}

.headerBtn img{
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 2px;
}

.ant-menu{
    line-height: 38px;
}