.ant-table-title{
    padding: 0;
    top: 0;
    border-radius: 0;
}
.ant-card-head-title{
    width: 100%;
}

.ant-card-head{
    background: rgba(235, 239, 241, 0.6);
    height: 100%;
    line-height: 2;
}

.assetsCard{
    height: 210px;
    border-bottom: 0;
    background: rgb(235, 239, 241);
}

.assetsCard ul{
    padding: 0 10px
}

.assetsCard ul>li{
    position: relative;
    font-size: 14px;
    margin-bottom: 10px;
}

.assetsCard ul>li>span{
    float: right;
}

.assetsCard ul>li>img{
    position: absolute;
    left: -30px;
}
.assetsCard .tableTitleBtn{
    /*background: rgb(221, 227, 230);*/
    /*color: rgba(0, 0, 0, 0.65098);*/
    width: 100px;
    border: 0;
    border-radius: 0;
    border-right: 1px solid #ebeff1;
}
.assetsCard .ant-table-thead>tr>th
{
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: rgb(235, 239, 241);
    border-radius: 0;
}

.assetsCard .operationBtn{
    width: 107px;
    margin-left: 8px;
    border: 0;
    border-radius: 0;
}